@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-size-base: 16px;
    --font-size-scale: 0.5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #02AABD, #00CDAC);
    color: #fff;
    height: 100vh;
    width: 100vw;
    font-size: 0.8em;
    position: relative;
    padding-bottom: 50px;
    overflow: scroll;
}

header {
    background-color: #000;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.logo-icon {
    height: 2em;
    vertical-align: middle;
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    color: #999;
    text-decoration: none;
    font-size: 0.6em;
    padding: 8px 12px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.nav-icon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.3s, color 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0.35rem;
}

.nav-item:hover {
    color: #2A9D8F;
}

.nav-item:hover .nav-icon {
    opacity: 0;
}

.nav-item:hover .nav-text {
    opacity: 1;
    color: #2A9D8F;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-left: 8px;
}

.social-icon {
    width: 1.2em;
    height: 1.2em;
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000;
        padding: 10px 0;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-item {
        margin: 5px 0;
    }

    .social-links {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.projects-list {
    margin-top: 60px;
    width: 100%;
}

.projects-section {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.project-item {
    display: flex;
    justify-content: center;
}

.project-card {
    position: relative;
    width: 350px;
    height: 450px;
    perspective: 1000px;
    margin: 20px;
    cursor: pointer;
}

.project-card-front,
.project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 10px;
}

.project-card-front {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;  
    justify-content: center;
    color: black;  
    font-size: 1.5em;  
    text-align: center;
    padding: 10px;  
}

.project-card-back {
    background: linear-gradient(135deg, #f0f0f0, #d9d9d9);
    border: 2px solid #333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: 20px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.project-card.flipped .project-card-front {
    transform: rotateY(180deg);
}

.project-card.flipped .project-card-back {
    transform: rotateY(0);
}

.project-details {
    text-align: center;
}

.project-details p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.project-details ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project-details ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.github-button {
    margin-top: 15px; /* Spacing above the button */
    padding: 10px 20px; /* Button padding */
    background-color: #007bff; /* Button color */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* No underline */
    font-size: 1em; /* Font size */
}

.github-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.project-card.flipped .project-card-front {
    transform: rotateY(180deg);
}

.project-card.flipped .project-card-back {
    transform: rotateY(0);
}

@media (max-width: 768px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-links {
        margin-top: 1vh;
    }
    .projects-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow-y: auto;
}

.full-screen-menu.active {
    display: block;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.full-screen-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.full-screen-nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

.full-screen-nav-item.active {
    opacity: 1;
    transform: translateY(0);
}

.full-screen-nav-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}