@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #02AABD, #00CDAC);
    color: #fff;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    margin: 0;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.logo-icon, .nav-icon, .social-icon {
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.logo-icon {
    height: 2.5vw; 
    vertical-align: middle;
}

.nav-item {
    color: #999;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    flex-shrink: 0; 
    margin-right: 5px; 
}

.nav-icon {
    width: 2.5vw; 
    height: 2.5vw; 
    margin-right: 8px;
    vertical-align: middle;
    transition: width 0.3s, height 0.3s; 
}

.nav-item:hover {
    background-color: #2A9D8F;
    color: #fff;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .nav-icon {
        width: 2.2vw;
        height: 2.2vw;
    }
}

@media (max-width: 768px) {
    .nav-icon {
        width: 2vw;
        height: 2vw;
    }
}

.social-links {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
}

.social-links a {
    margin-left: 10px;
}

.social-icon {
    width: 2.5vw; 
    height: 2.5vw; 
}

.social-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-top: 10vh;
    padding-bottom: 5vh; 
    position: relative;
}

.left-column,
.right-column {
    width: 50%;
    padding: 5vw; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.intro {
    text-align: left; 
}

.intro h1, .intro h2 {
    font-size: 2.5em; 
    color: #fff;
    font-weight: normal;
    margin-bottom: 1vh; 
}

.intro h1 {
    word-spacing: 0.5em;
}

.intro h2 {
    word-spacing: 0.1em;
}

.intro p.aspiring, .intro p.subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2em; 
    line-height: 1.5em;
    color: #fff;
}

.intro p.subtitle {
    font-size: 1em; 
    margin-top: 2vh;
}

.contact-container {
    margin-top: 12vh; 
}

.contact-button {
    background-color: transparent;
    color: #51e8d6;
    padding: 2vh 4vw; 
    text-decoration: none;
    border: 0.2vh solid #51e8d6; 
    border-radius: 0.5vh; 
    transition: background-color 0.3s, transform 0.3s;
    font-size: 2.5em;
    align-self: flex-start; 
}

.contact-button:hover {
    background-color: #32c9b9;
    transform: scale(1.05);
}

.right-column .profile-picture {
    width: 45vh; 
    height: 60vh; 
    border-radius: 1vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 2vh; 
}

.pop-in {
    animation: popIn 2s ease forwards;
} 

.fade-in {
    animation: fadeIn 2s ease forwards;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-left-letter-by-letter {
    display: inline-block;
}

.fade-in-left-letter-by-letter span {
    display: inline-block;
    opacity: 0;
    animation: fadeInLeftLetterByLetter 1s ease forwards;
}

@keyframes fadeInLeftLetterByLetter {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-links {
        margin-top: 1vh; 
    }
}
