@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-size-base: 16px;
    --font-size-scale: 0.5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: calc(var(--font-size-base) + var(--font-size-scale));
    background: linear-gradient(to top, #02AABD, #00CDAC);
    color: #fff;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.logo-icon {
    height: 2em;
    vertical-align: middle;
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    color: #999;
    text-decoration: none;
    font-size: 0.6em; /* Reduced font size */
    padding: 8px 12px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px; /* Increased margin for more space between icons */
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.nav-icon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.3s, color 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0.35rem;
}

.nav-item:hover {
    color: #2A9D8F;
}

.nav-item:hover .nav-icon {
    opacity: 0;
}

.nav-item:hover .nav-text {
    opacity: 1;
    color: #2A9D8F;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-left: 8px;
}

.social-icon {
    width: 1.2em;
    height: 1.2em;
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

@media (max-width: 768px) {
    .nav-list {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .nav-items {
        order: 3;
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .nav-item {
        margin: 5px 10px; /* Adjusted margin for mobile */
    }

    .social-links {
        order: 2;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-top: 5vh;
    padding-bottom: 5vh; 
    position: relative;
}

.left-column,
.right-column {
    width: 50%;
    padding: 2vw; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.intro {
    text-align: left; 
}

.intro h1, .intro h2 {
    font-size: 2em; 
    color: #fff;
    font-weight: normal;
    margin-bottom: 1vh; 
}

.intro h1 {
    word-spacing: 0.3em;
}

.intro h2 {
    word-spacing: 0.1em;
}

.intro p.aspiring, .intro p.subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em; 
    line-height: 1.5em;
    color: #fff;
}

.intro p.subtitle {
    font-size: 0.9em; 
    margin-top: 2vh;
}

.contact-container {
    margin-top: 8vh; 
}

.contact-button {
    background-color: transparent;
    color: #51e8d6;
    padding: 1.5vh 3vw; 
    text-decoration: none;
    border: 0.15vh solid #51e8d6; 
    border-radius: 0.5vh; 
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2em;
    align-self: flex-start; 
}

.contact-button:hover {
    background-color: #32c9b9;
    transform: scale(1.05);
}

.right-column .profile-picture {
    width: 100%; 
    max-width: 35vh; 
    height: auto; 
    border-radius: 1vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 2vh; 
}

.menu-icon {
    display: none;
    cursor: pointer;
  }

  .nav-item {
    color: #999;
    text-decoration: none;
    font-size: 0.9em;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
    flex-shrink: 0; 
    margin-right: 5px; 
    display: flex;
    align-items: center;
  }

  .nav-icon {
    width: 1.5em; 
    height: 1.5em; 
    margin-right: 6px;
    vertical-align: middle;
    transition: width 0.3s, height 0.3s, opacity 0.3s; 
  }

  .nav-text {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav-item:hover .nav-icon {
    opacity: 0;
  }

  .nav-item:hover .nav-text {
    display: inline;
    opacity: 1;
  }

  @media (max-width: 1024px) {
    .menu-icon {
      display: block;
      margin-left: auto;
    }

    .nav-items {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-item {
        margin: 5px 0;
    }

    .menu-icon {
        display: block;
        margin-left: auto;
    }

    .social-links {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
        padding: 5vw;
    }

    .intro h1, .intro h2 {
        font-size: 1.8em;
    }

    .intro p.aspiring {
        font-size: 1.3em;
    }

    .contact-button {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .intro h1, .intro h2 {
        font-size: 1.5em;
    }

    .intro p.aspiring {
        font-size: 1.1em;
    }

    .contact-button {
        font-size: 0.9em;
    }
}

.pop-in {
    animation: popIn 2s ease forwards;
} 

.fade-in {
    animation: fadeIn 2s ease forwards;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-left-letter-by-letter {
    display: inline-block;
}

.fade-in-left-letter-by-letter span {
    display: inline-block;
    opacity: 0;
    animation: fadeInLeftLetterByLetter 1s ease forwards;
}

@keyframes fadeInLeftLetterByLetter {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}