@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #02AABD, #00CDAC);
    color: #fff;
    overflow: auto;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 0.8em;
    position: relative;
    padding-bottom: 50px;
}

header {
    background-color: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    margin: 0;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.logo-icon, .nav-icon, .social-icon {
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.logo-icon {
    height: 2.5vw;
    vertical-align: middle;
}

.nav-item {
    color: #999;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    flex-shrink: 0;
    margin-right: 5px;
}

.nav-icon {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 8px;
    vertical-align: middle;
    transition: width 0.3s, height 0.3s;
}

.nav-item:hover {
    background-color: #2A9D8F;
    color: #fff;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .nav-icon {
        width: 2.2vw;
        height: 2.2vw;
    }
}

@media (max-width: 768px) {
    .nav-icon {
        width: 2vw;
        height: 2vw;
    }
}

.social-links {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.social-links a {
    margin-left: 10px;
}

.social-icon {
    width: 2.5vw;
    height: 2.5vw;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: calc(100vh - 60px);
    padding: 2vw;
    padding-top: 80px;
    padding-bottom: 5vh;
    position: relative;
    overflow: auto;
    min-width: 1200px;
    min-height: 800px;
}

.left-column,
.right-column {
    flex: 0 0 45%;
    padding: 2vw;
}

.contact-section {
    text-align: left;
}

.contact-section h1 {
    font-size: 4em;
    color: #FFD700;
    margin-bottom: 2vh;
}

.contact-section p {
    font-size: 1em;
    color: #fff;
}

.contact-section form {
    width: 600px;
    max-width: 600px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    background: #1E1E1E;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-section .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    width: 100%;
}

.contact-section label {
    margin-bottom: 0.5vh;
    font-size: 1em;
    color: #fff;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 1.5vh;
    border: 0.2vh solid #2A9D8F;
    border-radius: 0.5vh;
    font-size: 1em;
    margin-bottom: 1vh;
    transition: border-color 0.3s;
    background: #333;
    color: #fff;
}

.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #CD0021;
    outline: none;
}

.contact-section input[type="submit"] {
    background-color: #CD0021;
    color: #fff;
    padding: 1.5vh 3vw;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2em;
    align-self: center;
}

.contact-section input[type="submit"]:hover {
    background-color: #F4A261;
    transform: scale(1.05);
}

.thanks-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large-social-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2vh;
}

.large-social-icon {
    width: 50px;
    height: 50px;
}

.large-social-icon:hover {
    transform: scale(1.2);
}

.pop-in {
    animation: popIn 2s ease forwards;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-in-left-letter-by-letter span {
    display: inline-block;
    opacity: 0;
    animation: fadeInLetter 1s forwards;
}

@keyframes fadeInLetter {
    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
    padding: 1vh;
    background-color: #1f1f1f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.horizontal-scrollbar::-webkit-scrollbar {
    height: 10px;
}

.horizontal-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 768px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-links {
        margin-top: 1vh;
    }
    .large-social-links {
        flex-direction: row;
        gap: 2vh;
    }
    .large-social-icon {
        width: 50px;
        height: 50px;
    }
    .contact-section form {
        width: 600px;
        max-width: 600px;
        min-width: 600px;
    }
    .logo {
        display: none; /* Hide logo on small screens */
    }
    .nav-item-container,
    .social-links {
        display: none; /* Hide nav items on small screens */
    }
    .hamburger-menu {
        display: block; /* Show hamburger menu on small screens */
        cursor: pointer;
    }
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 50px; /* Fixed width */
    height: 50px; /* Fixed height */
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: fixed; /* Changed to fixed to cover entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full height */
    z-index: 1000;
    overflow-y: auto; /* Enable scrolling if content overflows */
    padding: 20px;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-logo {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.dropdown-logo .logo-icon {
    width: 50px;
    height: 50px;
}

.dropdown-menu .nav-item {
    padding: 15px 20px;
    border-bottom: 1px solid #2A9D8F;
}

.dropdown-menu .social-links-dropdown {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .nav-item-container,
    .social-links {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}
