@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-size-base: 16px;
    --font-size-scale: 0.5vw;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #02AABD, #00CDAC);
    color: #fff;
    overflow: auto;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 0.8em;
    position: relative;
    padding-bottom: 50px;
}

header {
    background-color: #000;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.logo-icon {
    height: 2em;
    vertical-align: middle;
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    color: #999;
    text-decoration: none;
    font-size: 0.6em;
    padding: 8px 12px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.nav-icon {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-text {
    opacity: 0;
    transition: opacity 0.3s, color 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 0.35rem;
}

.nav-item:hover {
    color: #2A9D8F;
}

.nav-item:hover .nav-icon {
    opacity: 0;
}

.nav-item:hover .nav-text {
    opacity: 1;
    color: #2A9D8F;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin-left: 8px;
}

.social-icon {
    width: 1.2em;
    height: 1.2em;
    filter: grayscale(100%);
    transition: filter 0.3s, transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000;
        padding: 10px 0;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-item {
        margin: 5px 0;
    }

    .social-links {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 5vh;
    position: relative;
}

h1 {
    font-size: 3em;
    color: #51e8d6; 
    margin-top: 15vh; 
}

@keyframes fadeInLetter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-left-letter-by-letter span {
    display: inline-block;
    opacity: 0;
    animation: fadeInLetter 1s forwards;
}

.time-period {
    position: absolute;
    top: 2vw;
    font-size: 1em;
    color: #fff;
    white-space: nowrap;
}

.left .time-period {
    right: -25vw;
}

.right .time-period {
    left: -25vw;
}

@media (max-width: 768px) {
    .nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-links {
        margin-top: 1vh;
    }
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 50px;
    height: 50px;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-logo {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.dropdown-logo .logo-icon {
    width: 50px;
    height: 50px;
}

.dropdown-menu .nav-item {
    padding: 15px 20px;
    border-bottom: 1px solid #2A9D8F;
}

.dropdown-menu .social-links-dropdown {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .nav-item-container,
    .social-links {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 20px auto 50px; 
    padding-top: 50px; 
    padding-bottom: 50px; 
    animation: slideInBottom 1s ease-out;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 50px; 
    bottom: 50px; 
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 1;
}

.container.left .circle-img,
.container.right .circle-img {
    position: absolute;
    top: 10px;
    width: 52.5px;
    height: 52.5px;
    z-index: 2;
    background-color: white;
    border: 4px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.container.left .circle-img {
    right: -34px;
}

.container.right .circle-img {
    left: -34px;
}

.container.left .circle-img img,
.container.right .circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 2;
    right: 30px;
    border: medium solid #1a1534;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1a1534;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 2;
    left: 30px;
    border: medium solid #1a1534;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1a1534 transparent transparent;
}

.content {
    padding: 20px 30px;
    background-color: #1a1534;
    position: relative;
    border-radius: 6px;
}

.content .description {
    display: none;
}

.see-more-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #2A9D8F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid #1a1534;
        border-width: 10px 10px 10px 0;
        border-color: transparent #1a1534 transparent transparent;
    }

    .left::before, .right::before {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow-y: auto;
}

.full-screen-menu.active {
    display: block;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.full-screen-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.full-screen-nav-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

.full-screen-nav-item.active {
    opacity: 1;
    transform: translateY(0);
}

.full-screen-nav-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
